@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    font-family: 'Montserrat', 'sans-serif';
    background: #fff5e1;
    color: #7d7f81;
}

.cabecera{
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #781c68;
    overflow: hidden;
}

.navbar{
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 50px;
}

.link{
    color: #ffd39a;
    text-decoration: none;
    padding: 70px 30px;
    font-weight: 500;
}

.link:hover{
    background-color: #319da0;
    color: #781c68;
    font-weight: 700;
    transition: 0.7s;
    border-radius: 90px;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 50px;
}

.logo img{
    height: 100px;
}

.main{
    width: 100%;
}

.contenido{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.hsection {
    width: 60%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hsection h1{
    margin: 50px 0;
    font-weight: 900;
    font-size: 60px;
}

.hsection h2{
    margin: 50px 0;
    font-size: 30px;
    font-weight: 800;
}

.hsection p{
    font-weight: 400;
    text-align: justify;
    margin: 5px 0;
}

.imagen-logo{
    width: 40%;
    padding-right: 50px;
    padding-bottom: 100px;
}

.imagen-logo img{
    height: 80%;
}

.video-evento{
    width: 40%;
    padding-left: 50px;
}

.imagen-nosotros{
    width: 40%;
    padding-right: 50px;
}

.imagen-nosotros img{
    width: 90%;
}

/* Contact */
#contact {
    padding: 120px 0;
}

.contact-form {
    float: left;
    width: 45%;
    padding: 20px;
}

.contact-title {
    float: right;
    width: 55%;
    padding-top: 100px;
    text-align: center;
}

form .form-group {
    margin-bottom: 1rem;
}

form .form-control {
    /* display: block; */
    width: 100%;
    padding: 0.375rem 0.7rem;
    font-size: 1rem;
    line-height: 1.7;
    border: none;

}

/* Boton Form */
.btn {
    display: grid;
    font-size: 15px;
    padding: 14px 23px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 4px;
    margin-top: 10px;
}

.btn-light {
    background: #841934;
    border: 1px solid #841934;
    color: #fff;
    width: 100%;
}

.btn-light:hover {
    background: #fff;
    border: 1px solid #841934;
    color: #841934;
}

/* Weather */
#weather {
    display: flex;
    justify-content: center;
}
#content {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

#box1,
#box2,
#box3 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    /* padding-top: 10%; */
    width: 200px;
    height: 200px;
}

#temp-value {
    padding-bottom: 10px;
}

#box1 {
    /* padding-top: 40px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.767);
    color: azure;
}

#box2 {
    padding-top: 10%;
    background-color: darkslateblue;
    color: azure;
}

#box3 {
    padding-top: 75px;
    background-color: #2ab2ea;
    color: azure;
}

#ubic {
    margin: 0%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: #781C68;
    height: 150px;
}

.btn-wspp :hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.btn-wspp img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 110px;
    height: 110px;
}

.btn-title {
    padding-right: 50px;
}